/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bodyBg {
     -fx-background-image: url('images/parkingBackground.jpg');
     -fx-background-size: 100% 100%;    
}

.tree-cell.style1 {
   -fx-text-fill: black;
}

.tree-cell.style2 {
  -fx-text-fill: red;
}